.container-home{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
  gap: 250px;
}
.big-name{
  margin-left: 120px;
  margin-top: 200px;
  h1{
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    margin-bottom: 15px;
  }
  h2{
  color: white;
  font-weight: bold;
  }
}



.title{
  text-align: center;
 margin-bottom: 40px; 
 

 color: white;
    font-family: 'Roboto';

  p{
    color: #b1adad;
    font-family: 'Roboto';
  }
}


.me{
  width: 320px;
height: auto;
border-radius: 60px;
}

