<div class="container-home">
  <div class="big-name">
    <h1>MONIQUE CAMPOS</h1>
    <h2>DESENVOLVEDORA FRONT-END</h2>
  </div>
  <div class="image">
    <img class="me" src="../../../assets/eu3.jpeg" alt="" />
  </div>
</div>
<div class="About" id="about-me">
  <div class="text">
    <p>
      Olá! Sou a Monique Campos, uma desenvolvedora front-end apaixonada por
      programação e com uma jornada cheia de surpresas pelo mundo da tecnologia.
      Desde o meu primeiro contato com redes de computadores até chegar ao
      maravilhoso universo do desenvolvimento front-end, minha paixão sempre foi
      guiada por uma única constante: a vontade de criar algo especial. <br />
      <br />
      Minha jornada começou com as redes de computadores, onde mergulhei nas
      maravilhas dos protocolos e da conectividade. Com fascínio, explorei a
      arquitetura dos sistemas e mergulhei no mundo da infraestrutura,
      aprendendo sobre servidores, linux, ferramentas como Microsoft Azure,
      gitlab. Essa base sólida me proporcionou uma compreensão profunda dos
      fundamentos da tecnologia, permitindo-me enxergar o panorama completo dos
      projetos em que me envolvo. <br />
      <br />
      Em seguida, meu caminho me levou à cibersegurança, onde me aventurei a ser
      competidora de cybersegurança. Foi uma jornada emocionante, cheia de
      desafios e aprendizados valiosos. A cada passo, aprofundei minha
      compreensão sobre segurança de dados e adquiri habilidades técnicas
      essenciais para proteger informações valiosas. <br /><br />
      Mas o destino tinha planos maravilhosos reservados para mim. Finalmente,
      tive a oportunidade de me dedicar ao que sempre amei: o desenvolvimento
      front-end. O casamento perfeito entre design e programação, onde posso
      usar minha criatividade para transformar conceitos em interfaces atraentes
      e funcionais. <br /><br />
      Agora, minha jornada é guiada pela combinação da minha experiência prévia
      em redes e cibersegurança com minha paixão pelo desenvolvimento front-end.
      Acredito que essa bagagem diversificada me permite ter uma perspectiva
      única e valiosa na criação de soluções robustas e seguras.
    </p>
  </div>
</div>
