.container{
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3,  1fr);
  padding-top: 20px;
}


.name{
  color: white;
  font-family: 'Roboto';
 font-weight: bold;
 margin-right: 25%;
 

}

.links{
  display: flex;
  justify-content: center;
  a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}



.test {
  height: 900px;
  background-color: white;
}


