<div class="container">
  <c-carousel class="w-75">
    <c-carousel-indicators></c-carousel-indicators>
    <c-carousel-inner>
      <c-carousel-item *ngFor="let slide of slides">
        <img
          alt="{{ slide.title }}"
          class="d-block w-100"
          loading="lazy"
          src="{{ slide.src }}"
        />
        <c-carousel-caption class="d-none d-md-block">
          <h3>{{ slide.title }}</h3>
          <p>{{ slide.subtitle }}</p>
        </c-carousel-caption>
      </c-carousel-item>
    </c-carousel-inner>
  </c-carousel>
</div>
<br />
<br />

<div class="emoji">
  <span>👩🏼‍💻</span>
  <span>🖥️</span>
  <span>👩🏼‍💻</span>
</div>
