.container{
  display: flex;
  justify-content: center;
}

img{
  height: 320px;
  border-radius: 10px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }

}

.emoji {
  display: inline-block;
  font-size: 2em;
  animation: pulse 1.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
}